* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teste {
  width: 550px;
  height: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(77, 77, 77);
}
.jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col1 {
  text-align: center;
}
.col2 {
  margin-top: 15px;
}
.resultadoCorreto {
  color: green;
  font-weight: bold;
}

button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #00000059;
  background-color: bisque;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  color: blue
}

.teste-cor {
  color: red
}