* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 500px;
  height: 500px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.teste {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(150, 127, 255);
  height: 500px;
  width: 500px;

}

.teste2 {
  background-color: rgb(53, 53, 252);
  border-top: 5px solid black;
  width: 500px;
  height: 50px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}