* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 500px;
  height: 500px;
  margin-inline: auto;
}

form {
  display: flex;
  flex-direction: colum;
}
.resultado-verde {
  background-color: aqua;
}
