@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 48, 161);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

p {
  line-height: 1.8em;
}

.wrapper {
  width: 500px;
  background-color: white;
  padding-inline: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-inline: auto;
  border-radius: 7px;
  cursor: pointer;
}
